<div
  id="contacts"
  class="relative pb-24 flex flex-col justify-center items-center"
>
  <div class="">
    <h1 class="first-text-main text-4xl max-md:text-2xl">Get In Touch</h1>
    <h4 class="color-primary-green underline max-md:text-sm">Contacts</h4>
  </div>
  <a
    href="/hire"
    class="mt-8 opacity-75 color-primary-green text-[15px] bg-black hover:bg-zinc-900 rounded-md py-[6px] px-5 border-[1px] border-zinc-800 shadow-s shadow-[var(--color-primary-gren)] pulse-button"
    >Hire Me</a
  >
  <div class="container-contacts mt-14">
    <div class="flex justify-center items-center gap-2">
      <a (click)="sendEmail()">
        <i
          class="text-lg hover:shadow-sm hover:shadow-[var(--color-primary-green)] h-12 w-12 bg-neutral-950 flex justify-center items-center rounded-md cursor-pointer bi bi-envelope-fill"
        ></i>
      </a>
      <a href="https://github.com/marionorberto">
        <i
          class="hover:shadow-sm hover:shadow-[var(--color-primary-green)] h-12 w-12 bg-neutral-950 flex justify-center items-center rounded-md cursor-pointer bi bi-github"
        ></i>
      </a>
      <a href="https://wa.me/935327990">
        <i
          class="hover:shadow-sm hover:shadow-[var(--color-primary-green)] h-12 w-12 bg-neutral-950 flex justify-center items-center rounded-md cursor-pointer bi bi-whatsapp"
        ></i>
      </a>
      <a href="https://linkedin.com/in/marionorberto">
        <i
          class="hover:shadow-sm hover:shadow-[var(--color-primary-green)] h-12 w-12 bg-neutral-950 flex justify-center items-center rounded-md cursor-pointer bi bi-linkedin"
        ></i>
      </a>
    </div>
    <h4 class="text-zinc-500">©Copyright All Rights Reserved</h4>
  </div>

  <div class="absolute right-10 bottom-14 max-md:right-5">
    <select name="lang" id="lang" class="bg-transparent">
      <option value="en" class="bg-transparent">EN 🇺🇸</option>
      <option value="pt" class="bg-transparent">PT 🇵🇹</option>
    </select>
  </div>
  <div
    class="absolute bottom-28 right-10 max-md:bottom-20 max-md:right-5 flex gap-3 justify-center items-center max-sm:right-6"
  >
    <span class="text-white go-to-top max-md:hidden">Go To Top</span>
    <a
      href="#"
      class="hover:shadow-sm hover:shadow-[var(--color-primary-green)] flex justify-center items-center bg-neutral-950 cursor-pointer text-zinc-500 rounded-full w-[35px] h-[50px]"
    >
      <i class="bi bi-chevron-up text-2xl p-3"></i>
    </a>
  </div>
</div>
