.contacts-subtitle{
  font-size: 1.2rem;
}

.social-network{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #090909;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-network:hover{
  box-shadow: 1px 1px 2px 2px var(--color-primary-green);
  transform: scale(1.1);
}


.container-social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container-contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Roboto-Light';
}

.bi-facebook, .bi-linkedin,.bi-whatsapp, .bi-github {
  font-size: 22px;
  cursor: pointer;
}
