<div id="contacts" class="relative">
  <h1 class="first-text-main">contacts</h1>
  <h4 class="second-text-main contacts-subtitle">getting in touch</h4>
  <div class="container-contacts">
    <a href="#">
      <h1 class="text-3xl">n<span style="color:  rgb(138, 136, 136); font-size: larger;">o</span>rb<span
          style="color: rgb(75, 74, 74); font-size: xx-large;">.</span></h1>
    </a>
    <h4 class="text-zinc-400">+244 935-327-990 <i class="bi bi-telephone-fill"></i></h4>

    <h4 class="text-zinc-400">marionorberto.tech&#64;gmail.com <i class="bi bi-envelope-fill"></i></h4>
    <div class="container-social-network">
      <div class="social-network">
        <a href="https://www.github.com/marionorberto" target="_blank"><i class="social-network bi bi-github"></i></a>
      </div>
      <div class="social-network">
        <a href="https://www.linkedin.com/in/marionorberto/" target="_blank"><i
            class="social-network bi bi-linkedin"></i></a>
      </div>
      <div class="social-network">
        <a href="https://wa.me/935327990" target="_blank"><i class="social-network bi bi-whatsapp"></i></a>
      </div>
      <div class="social-network">
        <a href="https://web.facebook.com/profile.php?id=100006492960948" target="_blank">
          <i class="social-network bi bi-facebook"></i>
        </a>
      </div>
    </div>
    <hr class="short-line text-green-800">
    <h4 class="text-zinc-500">©Copyright All Rights Reserved</h4>
  </div>
  <div class="absolute bottom-12 right-10 flex gap-3 justify-center items-center">
    <span class="text-zinc-500">Go To Top</span>
    <a href="#"
      class="flex justify-center items-center bg-neutral-900 hover:bg-neutral-800 cursor-pointer text-zinc-500 rounded-full w-[35px] h-[50px]">
      <i class="bi bi-chevron-up text-2xl p-3 "></i>
    </a>
  </div>
</div>
