<div id="contacts">
  <h1 class="first-text-main">contacts</h1>
  <h4 class="second-text-main contacts-subtitle">getting in touch</h4>
  <div class="container-contacts">
    <a href="#">
      <h1>n<span style="color:  rgb(138, 136, 136); font-size: larger;">o</span>rb<span
          style="color: rgb(75, 74, 74); font-size: xx-large;">.</span></h1>
    </a>

    <h4>+244 935 327 990 icon</h4>
    <h4>marionorberto.techgmail.com</h4>
    <div class="container-social-network">
      <div class="social-network"></div>
      <div class="social-network"></div>
      <div class="social-network"></div>
      <div class="social-network"></div>
    </div>
    <hr class="short-line">
    <h4>©Copyright all rights reserved</h4>
  </div>
</div>
