<mat-nav-list>
  <a
    target="_blank"
    href="../../../assets/docs/Mário Norberto CV BACKEND PROGRAMMER.pdf"
    mat-list-item
    (click)="openLink($event)"
  >
    <span matListItemTitle class="text-gray-400"
      >Backend CV <i class="bi bi-download"></i
    ></span>
    <span matLine>Pdf</span>
  </a>

  <a
    target="_blank"
    href="../../../assets/docs/Mário Norberto CV FRONTEND PROGRAMMER.pdf"
    mat-list-item
    (click)="openLink($event)"
  >
    <span matListItemTitle>Frontend CV<i class="bi bi-download"></i></span>

    <span matLine>Pdf</span>
  </a>

  <a
    target="_blank"
    href="../../../assets/docs/Mário Norberto CV FULLSTACK PROGRAMMER.pdf"
    mat-list-item
    (click)="openLink($event)"
  >
    <span matListItemTitle>Fullstack CV <i class="bi bi-download"></i></span>
    <span matLine>Pdf</span>
  </a>
</mat-nav-list>
