<div id="works">
  <h1 class="work-title">Check some of my <span class="color-primary-green">projects</span></h1>
  <h4 class="work-subtitle">recent projects</h4>
  <section class="container-projects">
    <!-- <div class="first-container-project"> -->
    <!-- <div class="project-1">

        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
        <div>

        </div>
        <div>

        </div>
      </div>
      <div class="project-2">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
    </div>
    <div class="project-3">
      <video src="../../../assets/videos/test-video.webm" autoplay preload controls loop>
        <source src="video/puppy.mp4" type='video/
          				 mp4;codecs="avc1.42E01E, mp4a.40.2"' />
      </video>
    </div>
    <div class="third-container-project">
      <div class="project-4">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
      <div class="project-5">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
      <div class="project-6">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
    </div>
    <div class="forth-container-project">
      <div class="project-7">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
      <div class="project-8">
        <div>
          ✨ EAB is a web aplication that allows you to make medical consulting booking online. with 3 actors
          patients, admin. b aplication that allows you aplication that allows you to</div>
        <div class="container-img-project1">
          <img src="" alt="" class="img-project1">
        </div>
        <div class="container-project-link">
          <i class="project-link"> <i class="bi bi-github"></i> </i>
          <i class="project-link"> <i class="bi bi-box-arrow-up-right"></i></i>
        </div>
        <div class="container-git-languages-stats">
          <div class="stat">typescript 33%</div>
          <span class="stat">angular 56%</span>
          <span class="stat">nestjs 3.3%</span>
        </div>
      </div>
    </div> -->

    <div class="lastest-projects">
      <h4 class="lastest-projects-title">Latest project</h4>
      <div class="latest-project-container">
        <div class="latest-project-section-1">
          <div class="latest-project-1-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">Effortless Appointment Booking
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-share text-sm"></i>
                    share</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle text-2xl text-zinc-300"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-project-2-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">Tablecoin
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-share text-sm"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="latest-project-section-1">
          <div class="latest-project-1-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">norbTransle
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-share text-sm"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-project-2-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">BanqueteJusto
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-share text-sm"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-800 "></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="web-lastest-projects">
          <h4 class="lastest-projects-title mb-3">Web Projects</h4>
          <div class="container-web-projects">
            <div>
              <video class="web-lastest-video-1 scroll-element bottom-to-top" src=""></video>
            </div>
            <div>
              <div class="latest-project-section-1">
                <div class="latest-project-1-container">
                  <div>
                    <video class="video-1 scroll-element left-to-right" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-share text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="latest-project-2-container">
                  <div>
                    <video class="video-1 scroll-element right-to-left" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">BanqueteJusto
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-share text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="latest-project-section-1 mt-6">
                <div class="latest-project-1-container">
                  <div>
                    <video class="video-1 scroll-element left-to-right" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-share text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="latest-project-2-container">
                  <div>
                    <video class="video-1 scroll-element right-to-left" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-share text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end mt-7">
            <a class="color-primary-green text-base me-auto hover:underline" href="">see other <i
                class="bi bi-chevron-right"></i>
            </a>
          </div>
        </div>
        <!-- <div class="latest-project-section-2"></div> -->
      </div>
    </div>
  </section>
</div>