<div id="works">
  <h1 class="work-title">Check some of my <span class="color-primary-green">projects</span></h1>
  <h4 class="work-subtitle">recent projects</h4>
  <section class="container-projects">
    <div class="lastest-projects">
      <h4 class="lastest-projects-title">Latest project</h4>
      <div class="latest-project-container">
        <div class="latest-project-section-1 max-sm:flex max-sm:flex-col">
          <div class="latest-project-1-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">EAB
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-box-arrow-up-right text-sm"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle text-2xl text-zinc-300"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-project-2-container scroll-element bottom-to-top">
            <div>
              <video class="video-1 max-sm:w-[40rem] max-sm:h-[10rem]" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">Tablecoin
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-box-arrow-up-right text-sm"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="latest-project-section-1 max-sm:flex max-sm:flex-col">
          <div class="latest-project-1-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">norbTransle
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-box-arrow-up-right"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-project-2-container scroll-element bottom-to-top">
            <div>
              <video class="video-1" src=""></video>
              <div class="container-option-project">
                <h4 class="text-zinc-300">FairBanquet
                </h4>
                <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                  <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                      class="bi bi-box-arrow-up-right"></i>
                    website</span>
                  <i class="bi bi-github text-base text-zinc-300"></i>
                  <i class="bi bi-play-circle-fill  text-2xl text-emerald-800 "></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="web-lastest-projects">
          <h4 class="lastest-projects-title mb-3">Web Projects</h4>
          <div class="container-web-projects max-sm:flex max-sm:flex-col">
            <div>
              <video class="web-lastest-video-1 scroll-element bottom-to-top" src=""></video>
            </div>
            <div>
              <div class="latest-project-section-1 max-sm:flex max-sm:flex-col">
                <div class="latest-project-1-container">
                  <div>
                    <video class="video-1 scroll-element left-to-right" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-box-arrow-up-right text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="latest-project-2-container">
                  <div>
                    <video class="video-1 scroll-element right-to-left" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">FairBanquet
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-box-arrow-up-right"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="latest-project-section-1 mt-6 max-sm:flex max-sm:flex-col">
                <div class="latest-project-1-container">
                  <div>
                    <video class="video-1 scroll-element left-to-right" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-box-arrow-up-right text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="latest-project-2-container ">
                  <div>
                    <video class="video-1 scroll-element right-to-left" src=""></video>
                    <div class="container-option-project">
                      <h4 class="text-zinc-300">Tablecoin
                      </h4>
                      <div class="option-project bg-transparent flex gap-2 justify-center items-center">
                        <span class="share-project border-[1px] border-zinc-300 p-1 rounded-3xl"> <i
                            class="bi bi-box-arrow-up-right text-sm"></i>
                          website</span>
                        <i class="bi bi-github text-base text-zinc-300"></i>
                        <i class="bi bi-play-circle-fill  text-2xl text-emerald-700 "></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-end mt-7">
            <a  href="https://github.com/marionorberto?tab=repositories" target="_blank" class="color-primary-green text-base me-auto hover:underline">see more<i
                class="bi bi-chevron-right"></i>
            </a>
          </div>
        </div>
        <!-- <div class="latest-project-section-2"></div> -->
      </div>
    </div>
  </section>
</div>
