<div
  id="works"
  class="relative flex flex-col justify-stretch items-center pt-10 pb-32"
  style="background: #090909"
>
  <a
    routerLink=""
    class="absolute bottom-5 right-6 cursor-pointer color-primary-green"
    >See more <i class="bi bi-arrow-right"></i
  ></a>
  <div class="mx-auto">
    <h1 class="text-4xl">
      Check some of my <span class="color-primary-green">projects</span>
    </h1>
    <h4 class="color-primary-green underline">My Recent Projects</h4>
  </div>

  <section class="w-[78%] mt-16">
    <section class="w-full">
      <h4 class="text-left me-auto mb-12 text-xl color-primary-green">
        Ultimate Projects
      </h4>

      <div class="flex justify-around items-center">
        <div class="grid grid-cols-2 grid-rows-2 gap-x-10 gap-y-10">
          <app-single-video-project
            [projectContent]="projectosContents"
            *ngFor="let project of projectosContents"
          >
          </app-single-video-project>
        </div>
      </div>
    </section>
    <section class="w-full mt-8">
      <h4 class="text-left me-auto my-5 text-xl color-primary-green">
        Backend Projects
      </h4>
      <div
        class="relative border-[1px] hover:border-2 border-neutral-800 cursor-pointer rounded-md flex justify-center items-stretch gap-4 my-9 mb-12 w-[61rem] h-60"
      >
        <i
          class="flex justify-center items-center ps-3 pe-1 absolute color-primary-green rounded-full top-24 left-48 bi bi-play-fill bg-zinc-900 text-6xl"
        ></i>
        <video src="" class="rounded-md bg-black h-full w-3/4"></video>
        <div class="p-4 pe-7 text-neutral-400">
          Ecommerce - KFragrance <br />
          <p class="font-light mt-3">
            KFragrance is a perfume ecommerce developed for a client of mine,
            made to give a selling solution for the their clients demands and to
            better service them.
          </p>
          <span
            class="color-primary-green absolute bottom-4 right-10 flex justify-center items-center"
            >Watch the video
            <i class="bi bi-play-fill color-primary-color"></i>
          </span>
        </div>
      </div>
      <div class="flex justify-around items-center">
        <div class="grid grid-cols-2 grid-rows-2 gap-x-10 gap-y-10">
          <app-single-video-project
            [projectContent]="projectosContents"
            *ngFor="let project of projectosContents"
          >
          </app-single-video-project>
        </div>
      </div>
    </section>
  </section>
</div>
