#certification{
  padding-top: 8px;
  background: #070707;
}

.resume-subtitle{
  font-size: 1.2rem;
}

.container-certifications{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
