<div id="certification">

  <h1 class="first-text-main">Certifications & Courses</h1>
  <h4 class="second-text-main resume-subtitle">some of my accomplishments</h4>

  <div class="timeline">
    <div class="container left scroll-element left-to-right">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">Abr - Jun</span></h2>
        <h5 class="month-certification">cisco.netacademy</h5>
        <p class="title-certification">CCNA1 v7 cisco Training</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container right scroll-element right-to-left">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">Abr - Jun</span></h2>
        <h5 class="month-certification">Loyane Traning</h5>
        <p class="title-certification">Angular Javascript Framework</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container left scroll-element left-to-right">
      <div class="content">
        <h2 class="">2021 - 2024</h2>
        <h5 class="month-certification">University Tecnic of Angola</h5>
        <p class="title-certification">Computer Science Engineer <strong>Bachelor</strong></p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container right scroll-element right-to-left">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">Jan - Mar</span></h2>
        <h5 class="month-certification">Udemy</h5>
        <p class="title-certification">Javascript complete course Fullstack</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container left scroll-element left-to-right">
      <div class="content">
        <h2 class="">2023 <span class="month-certification">Nov - Dez</span></h2>
        <h5 class="month-certification">Udemy</h5>
        <p class="title-certification">Php Laravel </p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container right scroll-element right-to-left">
      <div class="content">
        <h2 class="">2022 <span class="month-certification">Fev - Mar</span></h2>
        <h5 class="month-certification">cisco.netacademy</h5>
        <p class="title-certification">IT ESSENTIAL V7 CISCO TRAINING</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container left scroll-element left-to-right">
      <div class="content">
        <h2 class="">2021 <span class="month-certification">jun - Ago</span></h2>
        <h5 class="month-certification">Institute of Telecomunication</h5>
        <p class="title-certification">Micro-Controllater Programming - PIC & Arduino</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <!-- <div class="container right">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">jan - Mar</span></h2>
        <h5 class=""></h5>
        <p class="title-certification">CCNA1 V7 CISCO TRAINING</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">jan - Mar</span></h2>
        <h5 class=""></h5>
        <p class="title-certification">CCNA1 V7 CISCO TRAINING</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2 class="">2024 <span class="month-certification">jan - Mar</span></h2>
        <h5 class=""></h5>
        <p class="title-certification">CCNA1 V7 CISCO TRAINING</p>
      </div>
      <div class="sayings-certification">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere esse incidunt aspernatur praesentium aliquam
        , laboriosam architecto voluptatum. Magnam repellendus recusandae magni rerum iure. Modi sed fuga harum
        eveniethic facere?
      </div>
    </div>
 -->
  </div>

</div>