<div
  id="certifications"
  class="flex flex-col justify-center items-center pb-20 bg-neutral-950"
>
  <div class="my-8 mb-24">
    <h1 class="text-white text-4xl max-md:text-center max-md:text-2xl">
      Certifications & Courses
    </h1>
    <h4 class="text-sm color-primary-green underline max-md:text-sm">
      Some Of My Accomplishments
    </h4>
  </div>

  <div class="mb-10">
    <span class="flex flex-col items-center justify-center gap-0 anime">
      <i class="bi bi-chevron-down text-5xl text-neutral-700"></i>
      <i class="bi bi-chevron-down text-5xl -mt-5 text-neutral-700"></i>
    </span>
    <a href="">
      <h1 class="text-center color-primary-green text-xl">Click here To See</h1>
    </a>
  </div>

  <div class="timeline hidden">
    <div
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container left"
    >
      <div class="content">
        <h2 class="text-white">
          2024 <span class="month-certification">Abr - Jun</span>
        </h2>
        <h5 class="month-certification">cisco.netacademy</h5>
        <p class="title-certification text-white">CCNA1 v7 cisco Training</p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter rounded-md bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Entry level course training in networking, covering fundamental concepts
        of computer networks, configuring network devices and troubleshooting
        connectivity issues. Includes hands-on experience with Cisco routers and
        switches, preparing for advanced certifications.
      </div>
    </div>
    <div
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container right"
    >
      <div class="content">
        <h2 class="text-white">
          2024 <span class="month-certification">Abr - Jun</span>
        </h2>
        <h5 class="month-certification">Loyane Traning</h5>
        <p class="title-certification text-white">
          Angular Javascript Framework
        </p>
      </div>
      <div
        class="sayings-certification max-sm:tracking-tighter max-sm:text-justify bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Training in developing modern web applications using the Angular
        framework. It covers everything from creating components and services to
        managing routes, handling forms and integrating with REST APIs. It
        includes scalable development practices and code maintenance, using
        TypeScript and the best practices in the market.
      </div>
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container left"
    >
      <div class="content">
        <h2 class="text-white">2021 - 2024</h2>
        <h5 class="month-certification">University Tecnic of Angola</h5>
        <p class="title-certification text-white">
          Computer Science Engineer <strong>Bachelor</strong>
        </p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        I completed my Bachelor's degree in Computer Science Engineering,
        gaining a solid foundation in areas such as software development,
        algorithms, operating systems, and networks. Along the way, I
        participated in hands-on projects that prepared me to tackle complex
        technological challenges and innovate in the field of computing.
      </div>
    </div>
    <div
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container right"
    >
      <div class="content">
        <h2 class="text-white">
          2024 <span class="month-certification">Jan - Mar</span>
        </h2>
        <h5 class="month-certification">Udemy</h5>
        <p class="title-certification text-white">
          Javascript complete course Fullstack
        </p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Comprehensive course covering full-stack JavaScript development with a
        focus on modern technologies. Includes in-depth tutorials on JavaScript
        fundamentals, Express.js for server-side development, Node.js for
        backend programming, and TypeScript for enhanced code quality.
        Additionally, covers database integration with MySQL and MongoDB,
        providing a complete toolkit for building scalable web applications and
        services. Ideal for mastering the JavaScript ecosystem and developing
        robust, full-featured applications.
      </div>
    </div>
    <div
      data-aos="fade-left"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container left"
    >
      <div class="content">
        <h2 class="text-white">
          2023 <span class="month-certification">Nov - Dez</span>
        </h2>
        <h5 class="month-certification">Udemy</h5>
        <p class="title-certification text-white">Php Laravel</p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Intensive course exploring web application development using PHP and the
        Laravel framework. Covers everything from basic PHP concepts to advanced
        Laravel features for building robust and scalable applications. Includes
        hands-on practices with authentication, routing, Eloquent ORM, and
        testing, as well as techniques for optimization and security. Ideal for
        gaining practical skills and deepening knowledge in modern web
        development.
      </div>
    </div>
    <div
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container right"
    >
      <div class="content">
        <h2 class="text-white">
          2022 <span class="month-certification">Fev - Mar</span>
        </h2>
        <h5 class="month-certification">cisco.netacademy</h5>
        <p class="title-certification text-white">
          IT ESSENTIAL V7 CISCO TRAINING
        </p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Comprehensive course that provides a solid foundation in computer
        hardware and software, including assembling, maintaining, and
        troubleshooting PCs. Covers basic networking, operating systems, and
        cybersecurity concepts, preparing you for entry-level certifications and
        technical support positions.
      </div>
    </div>
    <div
      data-aos="fade-right"
      data-aos-duration="500"
      data-aos-easing="ease-in-out"
      class="container left"
    >
      <div class="content">
        <h2 class="text-white">
          2021 <span class="month-certification">jun - Ago</span>
        </h2>
        <h5 class="month-certification">Institute of Telecomunication</h5>
        <p class="title-certification text-white">
          Micro-Controllater Programming - PIC & Arduino
        </p>
      </div>
      <div
        class="sayings-certification max-sm:text-justify max-sm:tracking-tighter bg-neutral-950 p-4 ps-8 mt-3 text-sm text-white"
      >
        Practical course focused on programming and project development with
        microcontrollers and the Arduino platform. It covers everything from
        basic configuration and programming to the creation of complex systems,
        including sensors, actuators and interfaces. The course includes
        prototyping and hardware-software integration practices, providing
        skills to develop customized and innovative electronic solutions.
      </div>
    </div>
  </div>
</div>
