#certification{
  padding-top: 8px;
  height: 40rem;
  background: #070707;
}

.resume-subtitle{
  font-size: 1.2rem;
}

canvas {
    display: block;
    filter: brightness(17%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.container-certifications{
  display: flex;
  align-items: center;
  justify-content: center;
}
