<header>
  <nav>
    <a href="#">
      <h1>n<span style="color:  rgb(138, 136, 136); font-size: larger;">o</span>rb<span
          style="color: rgb(75, 74, 74); font-size: xx-large;">.</span></h1>
    </a>
    <ul>
      <li><a href="#works" class="nav-link">Works</a></li>
      <li><a href="#services" class="nav-link">Services</a></li>
      <li><a href="#resume" class="nav-link">Resume</a></li>
      <li><a href="#contacts" class="nav-link">Contacts</a></li>
    </ul>
    <a href="" class="hire-me">Hire me</a>
  </nav>
  <canvas>

  </canvas>

  <section>
    <div id="stack">
      <h1>FULL</h1>
      <h1>STACK</h1>
      <h1>DEVELOPER <span style=" color:rgb(113, 157, 116); font-size: xx-large;">.</span></h1>
    </div>
    <div id="text-stack">
      <div><span style="color: rgb(75, 74, 74); font-size: large;">"</span> I'm always passionated to make
        inovation <br> and impact my community with tecnology. <span
          style="color: rgb(75, 74, 74); font-size: large;">"</span>
      </div>
      <div><span style="color: rgb(75, 74, 74); font-size: normal;"># coding</span> is a lifestyle 🖊️</div>
    </div>
    <div id="bottom">
      <div id="bottom-left">
        <span>MÁRIO</span>
      </div>
      <div id="bottom-medium">
        IMAGE
        <!-- <div class="header-img header-img-1"></div>
        <div class="header-img header-img-2"></div>
        <div class="header-img header-img-3"></div> -->
      </div>
      <div id="bottom-right">
        <span>NORBERTO</span>
      </div>
    </div>
  </section>
</header>