<header
  class="relative flex flex-col justify-stretch items-center bg-black overflow-hidden"
>
  <div
    *ngIf="isMenuShown"
    class="absolute bottom-0 flex flex-col justify-baseline w-full h-full z-40 bg-black"
  >
    <div class="w-full h-full relative flex justify-center items-center">
      <i
        (click)="isMenuClicked(true)"
        class="absolute shadow-sm hover:shadow-[var(--color-primary-green)] py-4 px-4 text-xl bi bi-x bg-neutral-950 text-neutral-600 border-[1px] border-neutral-700 rounded-md cursor-pointer hidden max-md:flex max-md:top-6 max-md:right-5 z-50"
      ></i>
      <ul class="flex flex-col justify-center items-center gap-2 -mt-56 w-full">
        <div class="bg-neutral-900 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#works"
            class="text-neutral-700 text-xl opacity-90"
            >Projects <span class="opacity-50"></span
          ></a>
        </li>
        <div class="bg-neutral-900 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#resume"
            class="text-neutral-700 text-xl opacity-90"
            >Resume <span class="opacity-50"></span
          ></a>
        </li>
        <div class="bg-neutral-900 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#services"
            class="text-neutral-700 text-xl opacity-90"
            >Services <span class="opacity-50"></span
          ></a>
        </li>
        <div class="bg-neutral-900 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#contacts"
            class="text-xl text-neutral-700 opacity-90"
            >Contacts</a
          >
        </li>
        <div class="bg-neutral-900 opacity-50 h-[1px] w-full"></div>
        <a
          (click)="isMenuClicked(true)"
          href="/hire"
          class="mt-8 opacity-75 color-primary-green text-[15px] bg-zinc-900 rounded-md py-[6px] px-5 border-[1px] border-zinc-800 shadow-sm shadow-[var(--color-primary-green)]"
          >Hire Me</a
        >
      </ul>
    </div>
  </div>
  <i
    (click)="showMenu()"
    class="absolute shadow-sm hover:shadow-[var(--color-primary-green)] py-4 px-4 text-xl bi bi-list bg-neutral-950 text-neutral-600 border-[1px] border-neutral-700 rounded-md cursor-pointer hidden max-md:flex max-md:top-6 max-md:right-5"
  ></i>

  <nav
    class="max-md:hidden rounded-md border-zinc-800 p-[6px] bg-opacity-95 px-5 flex justify-around items-center border-[1px] bg-black w-[60%] mt-4 shadow-sm shadow-[var(--color-primary-green)]"
  >
    <a href="#" class="opacity-90 rounded-lg color-primary-green"
      ><span><</span>marionorberto <span>/></span></a
    >
    <ul class="flex justify-center items-center gap-2">
      <li>
        <a href="/#works" class="text-neutral-600"
          >Projects <span class="opacity-50">/</span></a
        >
      </li>
      <li>
        <a href="/#resume" class="text-neutral-600"
          >Resume <span class="opacity-50">/</span></a
        >
      </li>
      <li>
        <a href="/#services" class="text-neutral-600"
          >Services <span class="opacity-50">/</span></a
        >
      </li>
      <li>
        <a href="/#contacts" class="text-neutral-600">Contacts</a>
      </li>
    </ul>
    <a
      routerLink="/hire"
      class="opacity-75 color-primary-green text-[15px] hover:bg-zinc-900 rounded-md py-[2px] px-2 border-[1px] border-zinc-800"
      >Hire Me</a
    >
  </nav>
  <div
    class="opacity-40 absolute -bottom-72 z-10 bg-neutral-950 w-[28rem] h-[28rem] rounded-full"
  >
    <a href="https://linkedin-com/in/marionorberto">
      <i
        class="absolute top-10 left-14 h-8 w-8 bg-black flex justify-center items-center rounded-md cursor-pointer bi bi-linkedin"
      ></i>
    </a>
    <a href="https://github.com/marionorberto">
      <i
        class="absolute top-5 right-16 h-8 w-8 bg-black flex justify-center items-center rounded-md cursor-pointer bi bi-github"
      ></i>
    </a>

    <img
      class="absolute top-14 right-1/2 h-11 w-11 bg-black flex justify-center items-center rounded-md bi bi-github"
      src="../../../assets/images/-2.jpg"
      alt=""
    />

    <img
      class="absolute top-24 right-24 h-11 w-11 bg-black flex justify-center items-center rounded-md bi bi-github"
      src="../../../assets/images/-1.JPG"
      alt=""
    />
  </div>
  <div
    class="max-md:hidden p-3 absolute left-8 bottom-10 border-neutral-900 border-[1px] rounded-md h-60 w-72 bg-black"
  >
    <span class="text-sm font-extralight text-neutral-600">Frontend</span>
    <div class="flex gap-1 mt-4">
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Angular
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NextJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Tailwind
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Bootstrap
      </div>
      <div class="text-sm flex justify-center items-center text-neutral-600">
        +3
      </div>
    </div>
    <div
      class="text-sm bg-neutral-950 opacity-80 p-3 flex flex-col justify-start items-stretch rounded-md mt-3 w-24"
    >
      <span>Projects</span>
      <h2>+11</h2>
    </div>
  </div>

  <div
    class="max-md:hidden p-3 absolute right-8 bottom-28 border-neutral-900 border-[1px] rounded-md h-60 w-72 bg-black"
  >
    <span class="text-sm font-extralight text-neutral-600">Backend</span>
    <div class="flex gap-1 mt-4">
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Ts/Js
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NodeJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NestJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Express
      </div>
      <div class="text-sm flex justify-center items-center text-neutral-600">
        +2
      </div>
    </div>
    <div
      class="text-sm bg-neutral-950 opacity-80 p-3 flex flex-col justify-start items-stretch rounded-md mt-3 w-24"
    >
      <span>Projects</span>
      <h2>+9</h2>
    </div>
  </div>

  <div
    class="absolute top-36 grid grid-cols-9 grid-rows-6 max-md:opacity-30 opacity-50 z-10"
  >
    <div
      class="border-[1px] border-t-0 border-l-0 opacity-5 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] bg-zinc-900 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] opacity-35 bg-zinc-900 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] opacity-35 bg-zinc-900 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] bg-zinc-900 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-r-0 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
  </div>

  <div class="mt-28 z-10 max-md:mt-44">
    <h1 class="text-7xl max-md:text-6xl">Full Stack</h1>
    <h2 class="text-4xl">Developer</h2>
    <div class="mt-3 text-neutral-500">
      <span class="font-extralight text-[13px] max-md:text-[11px]">
        Building Softwares, Systems Automatization <br />
        and Enthusiast Pentester.
      </span>
    </div>
  </div>
</header>
