<header
  class="relative flex flex-col justify-stretch items-center bg-black overflow-hidden"
>
  <div
    *ngIf="isMenuShown"
    class="absolute bottom-0 flex flex-col justify-baseline w-full h-full z-40 bg-black"
  >
    <div class="w-full h-full relative flex justify-center items-center">
      <i
        (click)="isMenuClicked(true)"
        class="absolute shadow-sm hover:shadow-[var(--color-primary-green)] py-4 px-4 text-xl bi bi-x bg-neutral-950 text-neutral-600 border-[1px] border-neutral-700 rounded-md cursor-pointer hidden max-md:flex max-md:top-6 max-md:right-5 z-50"
      ></i>
      <ul class="flex flex-col justify-center items-center gap-2 -mt-56 w-full">
        <div class="bg-neutral-700 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#works"
            class="text-white text-xl opacity-90"
            >Projects</a
          >
        </li>
        <div class="bg-neutral-700 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#resume"
            class="text-white text-xl opacity-90"
            >Resume
          </a>
        </li>
        <div class="bg-neutral-700 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#services"
            class="text-white text-xl opacity-90"
            >Services
          </a>
        </li>
        <div class="bg-neutral-700 opacity-50 h-[1px] w-full"></div>
        <li>
          <a
            (click)="isMenuClicked(true)"
            href="/#contacts"
            class="text-xl text-white"
            >Contacts</a
          >
        </li>
        <div class="bg-neutral-700 opacity-50 h-[1px] w-full"></div>
        <a
          (click)="isMenuClicked(true)"
          href="/hire"
          class="mt-8 pulse-button opacity-75 color-primary-green text-[15px] bg-zinc-900 rounded-md py-[6px] px-5 border-[1px] border-zinc-800 shadow-sm shadow-[var(--color-primary-green)]"
          >Hire Me</a
        >
      </ul>
    </div>
  </div>
  <i
    (click)="showMenu()"
    class="absolute shadow-sm hover:shadow-[var(--color-primary-green)] py-4 px-4 text-xl bi bi-list bg-neutral-950 text-neutral-600 border-[1px] border-neutral-700 rounded-md cursor-pointer hidden max-md:flex max-md:top-6 max-md:right-5"
  ></i>

  <nav
    class="max-md:hidden rounded-md border-zinc-800 p-[6px] bg-opacity-95 px-5 flex justify-around items-center border-[1px] bg-black w-[60%] mt-4 shadow-sm shadow-[var(--color-primary-green)]"
  >
    <a href="#" class="opacity-90 rounded-lg color-primary-green"
      ><span><</span>marionorberto <span>/></span></a
    >
    <ul class="flex justify-center items-center gap-2">
      <li>
        <a href="/#works" class="text-white"
          >Projects <span class="opacity-80">/</span></a
        >
      </li>
      <li>
        <a href="/#resume" class="text-white"
          >Resume <span class="opacity-80">/</span></a
        >
      </li>
      <li>
        <a href="/#services" class="text-white"
          >Services <span class="opacity-80">/</span></a
        >
      </li>
      <li>
        <a href="/#contacts" class="text-white">Contacts</a>
      </li>
    </ul>
    <a
      routerLink="/hire"
      class="opacity-75 pulse-button color-primary-green text-[15px] hover:bg-zinc-900 rounded-md py-[2px] px-2 border-[1px] border-zinc-800"
      >Hire Me</a
    >
  </nav>
  <div
    class="opacity-30 absolute -bottom-72 z-10 bg-neutral-950 w-[28rem] h-[28rem] rounded-full"
  >
    <a href="https://linkedin-com/in/marionorberto">
      <i
        class="absolute top-10 left-14 h-8 w-8 bg-black flex justify-center items-center rounded-md cursor-pointer bi bi-linkedin"
      ></i>
    </a>
    <a href="https://github.com/marionorberto">
      <i
        class="absolute top-5 right-16 h-8 w-8 bg-black flex justify-center items-center rounded-md cursor-pointer bi bi-github"
      ></i>
    </a>

    <img
      class="absolute top-16 right-1/2 h-11 w-11 bg-black flex justify-center items-center rounded-md bi bi-github"
      src="../../../assets/images/-2.jpg"
      alt=""
    />
    <svg
      class="absolute top-20 left-16 w-9 h-9"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
    >
      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        fill="#303030"
        d="M0 32v448h448V32H0zm243.8 349.4c0 43.6-25.6 63.5-62.9 63.5-33.7 0-53.2-17.4-63.2-38.5l34.3-20.7c6.6 11.7 12.6 21.6 27.1 21.6 13.8 0 22.6-5.4 22.6-26.5V237.7h42.1v143.7zm99.6 63.5c-39.1 0-64.4-18.6-76.7-43l34.3-19.8c9 14.7 20.8 25.6 41.5 25.6 17.4 0 28.6-8.7 28.6-20.8 0-14.4-11.4-19.5-30.7-28l-10.5-4.5c-30.4-12.9-50.5-29.2-50.5-63.5 0-31.6 24.1-55.6 61.6-55.6 26.8 0 46 9.3 59.8 33.7L368 290c-7.2-12.9-15-18-27.1-18-12.3 0-20.1 7.8-20.1 18 0 12.6 7.8 17.7 25.9 25.6l10.5 4.5c35.8 15.3 55.9 31 55.9 66.2 0 37.8-29.8 58.6-69.7 58.6z"
      />
    </svg>
    <svg
      class="absolute top-28 right-20 h-9 w-9"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
    >
      <path
        fill="#383838"
        d="M185.7 268.1h76.2l-38.1-91.6-38.1 91.6zM223.8 32L16 106.4l31.8 275.7 176 97.9 176-97.9 31.8-275.7zM354 373.8h-48.6l-26.2-65.4H168.6l-26.2 65.4H93.7L223.8 81.5z"
      />
    </svg>
  </div>
  <div
    class="bg-opacity-40 max-md:hidden p-3 absolute left-14 bottom-10 border-neutral-900 border-[1px] rounded-md h-60 w-72 bg-black"
  >
    <span class="text-sm font-extralight text-neutral-600">Frontend</span>
    <div class="flex gap-1 mt-4">
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Angular
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NextJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Tailwind
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Bootstrap
      </div>
      <div class="text-sm flex justify-center items-center text-neutral-600">
        +3
      </div>
    </div>
    <div
      class="text-sm bg-neutral-950 opacity-80 p-3 flex flex-col justify-start items-stretch rounded-md mt-3 w-24"
    >
      <span>Projects</span>
      <h2>+11</h2>
    </div>
  </div>

  <div
    class="bg-opacity-75 max-md:hidden p-3 absolute right-10 bottom-32 border-neutral-700 border-[1px] rounded-md h-60 w-72 bg-black"
  >
    <span class="text-sm font-extralight text-neutral-600">Backend</span>
    <div class="flex gap-1 mt-4">
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Ts/Js
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NodeJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        NestJS
      </div>
      <div
        class="p-1 text-[12px] h-14 w-20 rounded-md border-[1px] border-neutral-900 text-neutral-600 flex justify-center items-center"
      >
        Express
      </div>
      <div class="text-sm flex justify-center items-center text-neutral-600">
        +2
      </div>
    </div>
    <div
      class="text-sm bg-neutral-950 opacity-80 p-3 flex flex-col justify-start items-stretch rounded-md mt-3 w-24"
    >
      <span>Projects</span>
      <h2>+9</h2>
    </div>
  </div>

  <div
    class="absolute top-36 grid grid-cols-9 grid-rows-6 max-md:opacity-30 opacity-50 z-10"
  >
    <div
      class="border-[1px] border-t-0 border-l-0 opacity-5 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-t-0 border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] bg-zinc-900 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] opacity-35 bg-zinc-900 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] opacity-35 bg-zinc-900 border-neutral-700 h-16 w-12"
    ></div>
    <div class="border-[1px] opacity-35 border-neutral-700 h-16 w-12"></div>
    <div
      class="border-[1px] border-r-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>

    <div
      class="border-[1px] border-l-0 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] bg-zinc-900 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
    <div
      class="border-[1px] border-r-0 border-b-0 opacity-35 border-neutral-700 h-16 w-12"
    ></div>
  </div>

  <div class="mt-28 z-10 max-md:mt-44">
    <h1 class="text-7xl max-md:text-6xl">Full Stack</h1>
    <h2 class="text-4xl">Developer</h2>
    <div class="mt-3 text-neutral-500">
      <span class="font-extralight text-[13px] max-md:text-[11px]">
        Building Softwares, Systems Automatization <br />
        and Enthusiast Pentester.
      </span>
    </div>
  </div>
</header>
