<div>
  <div class="relative flex justify-center items-center">
    <video
      (mouseover)="handleProjectHover()"
      (mouseout)="handleProjectBlur()"
      poster="{{ data.poster }}"
      class="bg-black text-sm border-neutral-800 opacity-95 h-64 w-[29rem] max-md:h-[10rem] max-md:w-[30rem] rounded-md hover:border-2 border-[1px]"
      src="{{ data.mediaUrls[0] }}"
    ></video>
    <i
      *ngIf="isProjectHover"
      class="ps-3 pe-1 bg-zinc-900 hover:bg-zinc-950 color-primary-green rounded-full absolute bi-play-fill text-6xl max-md:text-5xl bi bi-play-circle color-primary-green cursor-pointer"
    ></i>
    <div
      *ngIf="isProjectHover"
      class="absolute bottom-4 left-4 max-md:left-2 max-md:bottom-2 flex justify-start items-center gap-1"
    >
      <span
        class="max-md:text-[9px] bg-black rounded-xl py-1 px-2 text-[11px] border-neutral-600 opacity-70 border-[1px] text-neutral-600 flex justify-center items-center color-primary-green"
        style="border-color: var(--color-primary-color)"
        >Ts</span
      >
      <span
        class="max-md:text-[9px] bg-black rounded-xl py-1 px-2 text-[11px] border-[1px] opacity-70 color-primary-green"
        style="border-color: var(--color-primary-color)"
        >Angular</span
      >
      <span
        class="max-md:text-[9px] bg-black rounded-xl py-1 px-2 text-[11px] border-[1px] opacity-70 color-primary-green"
        style="border-color: var(--color-primary-color)"
        >css Animation</span
      >
    </div>
  </div>
  <div class="flex justify-between mt-2 items-center text-white">
    <h4 class="text-white font-bold">{{ data.title }}</h4>
    <div class="flex gap-2 justify-center items-center">
      <a
        target="blank"
        class="cursor-pointer"
        href="{{ data.site }}"
        class="flex bg-zinc-800 rounded-md hover:text-[var(--color-primary-green)] w-20 opacity-95 text-base"
      >
        <i
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="#FFFFFF"
          >
            <path
              d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"
            /></svg></i
        ><span class="max-sm:text-text-sm">Website</span></a
      >
      <a href="{{ data.github }}">
        <i
          class="bi bi-github text-base text-white hover:text-[var(--color-primary-green)] cursor-pointer"
        ></i>
      </a>
      <i
        class="bi bi-play-fill bg-zinc-800 flex justify-center items-center w-6 h-6 py-2 px-2 rounded-full text-xl hover:bg-zinc-900 cursor-pointer color-primary-green"
      ></i>
    </div>
  </div>
</div>

<!-- project wide highlighted -->
<!-- 

 <div
    class="relative border-[1px] hover:border-2 border-neutral-800 cursor-pointer rounded-md flex justify-center items-stretch gap-4 mb-12 w-[60rem] max-md:w-full h-60 max-md:h-36 max-md:flex max-md:justify-center max-md:items-center"
  >
    <span
      class="color-primary-green absolute text-sm hidden bottom-2 right-3 max-md:flex justify-center items-center"
      >Watch the video
      <i class="bi bi-play-fill color-primary-color"></i>
    </span>
    <video
      poster="../../../assets/images/kfragrance-poster.png"
      src=""
      class="rounded-md bg-black h-full w-[60%] max-md:w-full"
    ></video>
    <div class="p-4 pe-7 w-[40%] text-white max-md:hidden">
      <span class="font-bold color-primary-green text-xl"
        >Ecommerce - KFragrance</span
      >
      <br />
      <p class="font-light mt-3">
        KFragrance is a perfume ecommerce developed for a client of mine, made
        to give a selling solution for the their clients demands and to better
        service them.
      </p>
      <span
        class="color-primary-green hover:text-[var(--color-secondary-green)] absolute bottom-4 right-10 flex justify-center items-center"
        >Watch the video
        <i class="bi bi-play-fill color-primary-color"></i>
      </span>
    </div>
  </div>

-->
