<nav class="relative nav">
  <a href="#">
    <h1 class="text-2xl">n<span style="color:  rgb(138, 136, 136); font-size: larger;">o</span>rb<span
        style="color: rgb(75, 74, 74); font-size: xx-large;">.</span></h1>
  </a>
  <ul>
    <li><a href="#works" class="nav-link">Works</a></li>
    <li><a href="#services" class="nav-link">Services</a></li>
    <li><a href="#resume" class="nav-link">Resume</a></li>
    <li><a href="#contacts" class="nav-link">Contacts</a></li>
  </ul>

  <a routerLink="/hire" class="hire-me">Hire me</a>
  <div class="absolute top-6 right-10">
    <span class="bg-transparent text-zinc-700 ms-3 text-xl">|</span>
    <select class="bg-transparent text-zinc-700" name="language" id="language">
      <option value="EN" class="text-lg bg-slate-800">🇺🇸 US</option>
      <option value="PT" class="text-lg bg-slate-800">🇵🇹 PT</option>
    </select>
  </div>

</nav>
