<div id="services" class="px-48 pt-12 pb-16 max-sm:px-10">
  <div>
    <h1 class="font-semibold text-white text-4xl max-sm:text-2xl">
      Main Services
    </h1>
    <h4 class="font-semibold text-sm color-primary-green">What I Can Do</h4>
  </div>
  <section
    class="lg:w-[47rem] grid grid-cols-2 grid-rows-2 mt-10 place-content-center place-items-center gap-x-5 gap-y-7 mx-auto max-sm:grid max-sm:grid-cols-1 max-sm:grid-rows-1 max-sm:place-content-center max-sm:place-items-center"
  >
    <app-card-services
      [data]="item"
      *ngFor="let item of cardServiceData"
    ></app-card-services>
  </section>
</div>
