<div id="services" class="flex flex-col justify-center items-center pt-8">
  <div>
    <h1 class="text-white text-4xl max-md:text-center max-md:text-2xl">
      Main Services
    </h1>
    <h4 class="text-sm color-primary-green underline max-md:text-sm">
      Tecnologies and Skills
    </h4>
  </div>

  <div
    class="p-8 flex justify-center items-center gap-8 mt-14 pb-20 max-md:grid max-md:grid-cols-1 max-md:grid-rows-4 max-md:text-center"
  >
    <section
      class="p-3 border-neutral-900 border-[1px] rounded-sm h-60 w-72 bg-black hover:bg-zinc-950"
    >
      <img
        src="../../../assets/images/web.svg"
        alt=""
        srcset=""
        class="w-7 mt-5"
      />
      <span class="ps-1 text-sm font-semibold text-neutral-600"
        >Web Development</span
      >
      <div class="ps-1 mt-5 text-[12px] font-extralight text-neutral-600">
        To build the modern web aplications used nowdays around the world on web
        i use techs such as:
        <strong class="color-primary-green">Angular</strong>,
        <strong class="color-primary-green">Nestjs</strong>,
        <strong class="color-primary-green">Php</strong>,
        <strong class="color-primary-green">Laravel</strong>,
        <strong class="color-primary-green">Javascript</strong>,
        <strong class="color-primary-green">Javascript</strong>,
        <strong class="color-primary-green">Tailwind</strong>,
        <strong class="color-primary-green">Css</strong>...
      </div>
    </section>
    <section
      class="p-3 border-neutral-900 border-[1px] rounded-sm h-60 w-72 bg-black hover:bg-zinc-950"
    >
      <img
        src="../../../assets/images/mobile.svg"
        alt=""
        srcset=""
        class="w-7 mt-5"
      />
      <span class="ps-1 text-sm font-semibold text-neutral-600"
        >Mobile Development</span
      >
      <div class="ps-1 mt-5 text-[12px] font-extralight text-neutral-600">
        Mobile devlopment is on fire and i often use a very powerfull
        <strong class="color-primary-green">Javascript</strong> framework for
        building my mobile aplication well-known as
        <strong class="color-primary-green">React Native</strong>.
      </div>
    </section>
    <section
      class="p-3 border-neutral-900 border-[1px] rounded-sm h-60 w-72 bg-black hover:bg-zinc-950"
    >
      <img
        src="../../../assets/images/desktop.svg"
        alt=""
        srcset=""
        class="w-7 mt-5"
      />
      <span class="ps-1 text-sm font-semibold text-neutral-600"
        >Desktop Development</span
      >
      <div class="ps-1 mt-5 text-[12px] font-extralight text-neutral-600">
        For Desktop devlopment i often use a very powerfull
        <strong class="color-primary-green">.Net Platform</strong>
        with the Windowns form application framework using
        <strong class="color-primary-green">C#</strong> language.
      </div>
    </section>
    <section
      class="p-3 border-neutral-900 border-[1px] rounded-sm h-60 w-72 bg-black hover:bg-zinc-950"
    >
      <img
        src="../../../assets/images/bug.svg"
        alt=""
        srcset=""
        class="w-7 mt-5"
      />
      <span class="ps-1 text-sm font-semibold text-neutral-600"
        >Pentester Hacking</span
      >
      <div class="ps-1 mt-5 text-[12px] font-extralight text-neutral-600">
        I am a also a hacker antusiast and i've been studying tools for
        penetration testing such as
        <strong class="color-primary-green">kaliLinux OS</strong>,
        <strong class="color-primary-green">Wireshark</strong>,
        <strong class="color-primary-green">Nmap</strong>,
        <strong class="color-primary-green">Browser</strong>...
      </div>
    </section>
  </div>
</div>
