<section class="hidden py-5 text-white">
  <h2>buy my product</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, veniam.</p>
</section>

<div id="services">
  <h1 class="first-text-main">Services</h1>
  <h4 class="second-text-main services-subtitle">tecnologies skills</h4>
  <section class="container-skills">
    <div class="container-skills-first scroll-element bottom-to-top">
      <div class="div-skill max-sm:text-center">
        <img src="../../../assets/images/web.svg" alt="" srcset="">
        <h4>Web Devlopment</h4>
        <p class="">To build the modern web aplications<br class="max-sm:hidden"> used nowdays around the world on web i use tecns such <br class="max-sm:hidden">
          as
          <strong class="color-primary-green">Nodejs</strong>,
          <strong class="color-primary-green">Angular</strong>,
          <strong class="color-primary-green">Nestjs</strong>,
          <strong class="color-primary-green">AspNet</strong>, and
          <strong class="color-primary-green">PHP(LARAVEL)</strong>.
        </p>
      </div>
      <div class="div-skill">
        <img src="../../../assets/images/mobile.svg" alt="" srcset="">
        <h4>Mobile Devlopment</h4>
        <p>Mobile devlopment is on fire and i often use <br class="max-sm:hidden">
          a very powerfull
          <strong class="color-primary-green">Javascript</strong>.
          framework for building <br class="max-sm:hidden"> my
          mobile
          aplication well-known as
          <strong class="color-primary-green">React Native</strong>.
        </p>
      </div>
      <div class="div-skill">
        <img src="../../../assets/images/desktop.svg" alt="" srcset="">
        <h4>Desktop Devlopment</h4>
        <p>
          For Desktop devlopment i often use a very<br class="max-sm:hidden"> powerfull
          <strong class="color-primary-green">.Net platform</strong>
          with the Windowns form <br class="max-sm:hidden"> application
          framework using
          <strong class="color-primary-green">c#</strong> language.
        </p>
      </div>
    </div>
    <div class="container-skills-second scroll-element bottom-to-top">
      <div class="div-skill">
        <img src="../../../assets/images/bug.svg" alt="" srcset="">
        <h4>Pentester Hacking</h4>
        <p>Im a also a hacker antusiast and i use <br class="max-sm:hidden"> tools for penetration testing such <br class="max-sm:hidden"> as
          <strong class="color-primary-green">kalilinux OS</strong>,
          <strong class="color-primary-green">Wireshark</strong>,
          <strong class="color-primary-green">nmap</strong>,
          <strong class="color-primary-green">browser</strong>
          etc...
        </p>
      </div>
      <div class="div-skill">
        <img src="../../../assets/images/electronic.svg" alt="" srcset="">
        <h4>Digital Electronic</h4>
        <p>
          One of my freelancer jobs is making
          electronic,
          <br class="max-sm:hidden">
          <strong class="color-primary-green">circuits</strong>,
          and
          programming Microcontrollerssuch as <br class="max-sm:hidden">
          PIC/ARDUINO
          (<strong class="color-primary-green">Analogic</strong> and
          <strong class="color-primary-green">Digital Electronic</strong>)...
        </p>
      </div>
    </div>
  </section>
</div>