p {
  font-family: "Roboto-Light";
}

#services {
  padding-bottom: 140px;
}

.services-subtitle {
  font-size: 1.2rem;
}

.div-skill {
  transition: ease-in-out 0.7s;
  padding: 15px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-skill:hover {
  /* border: 3px solid var(--color-primary-green); */
  /* border-style: dashed; */
  background: rgb(39, 71, 39);
  /* box-shadow: 1px 1px 1px 2px white; */
  /* transform: translateY(-14px); */
}
