<section class="w-full mb-20">
  <section class="w-full px-[40px] pb-10px]">
    <nav class="flex justify-between px-6 items-baseline w-full">
      <ul class="flex-col items-center justify-center gap-1 font-serif">
        <li>
          <a class="color-primary-green opacity-50 text-xl" href="#">Home</a>
        </li>
        <li>
          <a class="color-primary-green opacity-50 text-xl" href="#works">Works</a>
        </li>
        <li>
          <a class="color-primary-green opacity-50 text-xl" href="#services">Services</a>
        </li>
        <li>
          <a class="color-primary-green opacity-50 text-xl" href="#resume">Resume</a>
        </li>
        <li>
          <a class="color-primary-green opacity-50 text-xl" href="#contacts">Contacts</a>
        </li>
        <li class="">
          <a class="text-4xl color-primary-green underline" href="#hire">Hire Me</a>
        </li>
      </ul>
      <div class="">
        <span class="bg-transparent text-zinc-700 ms-3 text-xl">|</span>
        <select class="bg-transparent text-zinc-700" name="language" id="language">
          <option value="EN" class="text-sm bg-slate-800">🇺🇸 US</option>
          <option value="PT" class="text-sm bg-slate-800">🇵🇹 PT</option>
        </select>
      </div>
    </nav>
  </section>
  <main class="flex justify-center items-center gap-7 px-[40px] py-[40px] w-[80%]">
    <section class="flex flex-col justify-center items-center gap-3">
      <div class="bg-neutral-950 h-[400px] w-[450px] mt-2 rounded-3xl mx-auto shadow-sm shadow-green-200">
      </div>
      <h1 class="text-4xl font-light text-neutral-200 mt-3">Mário Norberto</h1>
      <h4 class="italic font-serif text-lg font-light text-neutral-700">Fullstack Developer and Enthusiast hacker</h4>

      <div class="network-accounts w-[80%] flex gap-3 justify-center items-center">
        <i class="bi bi-github text-2xl rounded-lg p-3 bg-zinc-700 text-white cursor-pointer"></i>
        <i class="bi bi-linkedin text-2xl rounded-lg p-3 bg-blue-700 text-white cursor-pointer"></i>
        <i class="bi bi-whatsapp text-2xl rounded-lg p-3 bg-green-700 text-white cursor-pointer"></i>
        <i class="text-2xl rounded-lg p-3 bg-neutral-950 text-white cursor-pointer">M</i>
        <i class="bi bi-envelope-fill text-2xl rounded-lg p-3 bg-blue-700 text-white cursor-pointer"></i>
      </div>
      <div class="flex gap-1">
        <div
          class="flex gap-2 color-primary-green opacity-85  border-2 border-neutral-950 hover:border-neutral-800 hover:opacity-70 p-3 px-4 rounded-md">
          <a href="../../../assets/docs/cv - dev 2 - Google Docs.pdf" class="color-primary-green">
            <span>download cv</span>
          </a>
        </div>
        <div
          class="flex gap-2 color-primary-green opacity-85  border-2 border-neutral-950 hover:border-neutral-800 hover:opacity-70 p-3 px-4 rounded-md">
          <a href="https://wa.me/935327990" class="color-primary-green">
            <span>Work With Me <i class="bi bi-arrow-right"></i></span>
          </a>
        </div>
      </div>
      <div class="w-[80%] text-center leading-6 text-neutral-700 mt-8 mb-10 text-lg">
        <h2 class="text-center">Hello👋🏾! Welcome to my website.</h2>
        <h4>I've been programming about 2 years profissionally. I'm currently work as a freelancer programmer.</h4>
        <p>If you need a passionate programmer for developing your website or application, be free to <a
            href="https://wa.me/935327990" class="color-primary-green opacity-85 underline">get in touch with me.</a>
          I'm also open to work in your company as a web|Mobile Developer.</p>
      </div>
      <div class="w-80% ">
        <h1 class="text-neutral-200 text-start text-4xl">#Projects</h1>
        <hr class="text-neutral-700">
        <div class=" w-full p-3 bg-neutral-950">
          <div class="mb-3">
            <h3 class="color-primary-green pb-1">TableCoin</h3>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores
              veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
            <div class="flex gap-3 color-primary-green  border-2  border-neutral-800 opacity-80 p-3 px-4 rounded-md">
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Javascript</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>nodejs</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Angular</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Tailwing</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>css</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>html</span>

            </div>
          </div>
          <div class="mb-3">
            <h3 class="color-primary-green pb-1">TableCoin</h3>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores
              veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
            <div class="flex gap-3 color-primary-green  border-2  border-neutral-800 opacity-80 p-3 px-4 rounded-md">
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Javascript</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>nodejs</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Angular</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Tailwing</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>css</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>html</span>

            </div>
          </div>
          <div class="mb-3">
            <h3 class="color-primary-green pb-1">TableCoin</h3>
            <p class="mb-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores
              veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
            <div class="flex gap-3 color-primary-green  border-2  border-neutral-800 opacity-80 p-3 px-4 rounded-md">
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Javascript</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>nodejs</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Angular</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>Tailwing</span>

              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>css</span>
              <span class="flex items-center  justify-center gap-1"><i
                  class="bi bi-square-fill text-[6px]"></i>html</span>

            </div>
          </div>
          <a href="" class="text-end my-3 underline color-primary-green">see more projects <i
              class="bi bi-link-45deg"></i></a>
        </div>
      </div>
      <div class="w-80% mt-10">
        <h1 class="text-neutral-200 text-start text-4xl">#Open Source</h1>
        <hr class="text-neutral-700">
        <div class="bg-neutral-950 w-full h-[300px] p-3">
          <div>
            <h3 class="color-primary-green">TableCoin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
          </div>
          <div>
            <h3 class="color-primary-green">TableCoin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
          </div>
          <div>
            <h3 class="color-primary-green">TableCoin</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ipsa! Repellendus maiores veniam officiis
              voluptas aliquid at harum ipsum natus voluptatem sed, inventore illo, ab similique est consequuntur
              sapiente aperiam.</p>
          </div>
        </div>
      </div>
    </section>
  </main>

</section>
<div class="w-[74%] bg-neutral-950 italic p-2 mx-auto text-center">
  This website was developer by Mário Norberto
</div>
