.color-gray-alternative {
  background: rgb(13, 14, 13);
}

.container-img-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-gray-customized {
  color: rgba(170, 170, 170, 100);
}

select option {
  background-color: #000;
  color: #fff;
}
