<main>
  <div id="works">
    <h1 class="first-text-main">Check some of my <span style="color: rgb(113, 157, 116);">projects</span></h1>
    <h4 class="second-text-main">recent projects</h4>

  </div>
  <div id="services">
    <h1 class="first-text-main">Services</h1>
    <h4 class="second-text-main">tecnologies skills</h4>
    <section class="container-skills">
      <div class="container-skills-first">
        <div class="div-skill">
          <img src="./web.svg" alt="" srcset="">
          <p class="">Lorem ipsum dolor, sit elit. Odio, ipsum?</p>
        </div>
        <div class="div-skill">
          <img src="./mobile.svg" alt="" srcset="">
          <p>Lorem ipsum dolor, sit amet . Odio, ipsum?</p>
        </div>
        <div class="div-skill">
          <img src="./dek.svg" alt="" srcset="">
          <p>Lorem ipsum dolor, sit amet lit. Odio, ipsum?</p>
        </div>
      </div>
      <div class="container-skills-second">

        <div class="div-skill">
          <img src="./bug.svg" alt="" srcset="">
          <p>Lorem ipsum dolor, sit elit. Odio, ipsum?</p>
        </div>
        <div class="div-skill">
          <img src="./electrom.svg" alt="" srcset="">
          <p>Lorem ipsum dolor, sit elit. Odio, ipsum?</p>
        </div>
      </div>
    </section>
  </div>
  <div id="resume">
    <h1 class="first-text-main">Resume</h1>
    <h4 class="second-text-main">my formal resume</h4>
  </div>
  <div id="contacts">
    <h1 class="first-text-main">contacts</h1>
    <h4 class="second-text-main">getting in touch</h4>
    <div class="container-contacts">
      <a href="#">
        <h1>n<span style="color:  rgb(138, 136, 136); font-size: larger;">o</span>rb<span
            style="color: rgb(75, 74, 74); font-size: xx-large;">.</span></h1>
      </a>

      <h4>+244 935 327 990 icon</h4>
      <h4>marionorberto.techgmail.com</h4>
      <div class="container-social-network">
        <div class="social-network"></div>
        <div class="social-network"></div>
        <div class="social-network"></div>
        <div class="social-network"></div>
      </div>
      <hr class="short-line">
      <h4>©Copyright all rights reserved</h4>
    </div>
  </div>
</main>