@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css");
@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-Variable-Font.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #000;
  --bg-secondary: #090909;
  --color-primary-green: rgb(113, 157, 116);
  --color-secondary-green: rgb(21, 79, 25);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: "Inter";
  color: white;
  overflow-x: hidden;
}

.color-primary-green {
  color: var(--color-primary-green);
}

.color-secondary-green {
  color: var(--color-secondary-green);
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

ul {
  display: flex;
  gap: 8px;
}

li {
  list-style: none;
}

li > a:hover {
  color: var(--color-primary-green);
}

.pulse-button {
  transition: transform 0.3s ease;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px 1px rgb(113, 157, 116, 0.7);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px 2px rgb(113, 157, 116, 0.9);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 10px 1px rgb(113, 157, 116, 0.7);
    transform: scale(1);
  }
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #000;
  z-index: 9999;
}

.spinner {
  animation: spin 2s ease infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
