@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto-Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('./assets/fonts/Roboto-Light.ttf');
}

:root{
  --bg-primary: #000;
  --bg-secondary: #090909;
  --color-primary-green: rgb(113, 157, 116);
  --color-secondary-green: rgb(21, 79, 25);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--bg-primary);
  font-family: 'Roboto-Medium';
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.color-primary-green{
  color: var(--color-primary-green);
}

a{
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color: transparent;
    font-weight: 200;
}

ul{
    display: flex;
    gap: 15px;
}

li {
    list-style: none;
    font-family: 'Roboto-Light';
    position: relative;
}
li>a:hover{
     color: var(--color-primary-green);
}

.nav-link::before{
    position: absolute;
    content: '';
    bottom: -4px;
    margin-top: 2px;
    background-color: rgb(21, 79, 25);
    height: 3px;
    width: 100%;
    scale: 0;
    transform-origin: right;
    transition: all 0.4s ;
}

.nav-link:hover::before{
    transition: all 0.4s;
    scale: 1;
}

.hire-me{
    padding: 6px 4px;
    background-color: #000;
    outline: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.hire-me:hover{
  box-shadow: 1px 1px 3px 5px var(--color-primary-green);
}

.hire-me:active{
    transform: scale(0.98);
    outline-color: rgb(21, 79, 25) ;
    color: rgb(113, 157, 116);
}










section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#stack{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 18px;
}

#text-stack{
    font-size: 13px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 25px;
    font-family: 'Roboto-Light';
    font-weight: lighter;
}

#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    font-size: 2.2rem;
    color: rgb(225, 225, 225);
}

#bottom-left{
    display: flex;
    align-items: end;
    margin-top: -30px;
    font-family: 'Roboto-Light';
    margin-right: 50px;
}

#bottom-right{
    display: flex;
    align-items: end;
    margin-top: 40px;
    font-family: 'Roboto-Light';
    margin-left: 50px;
}
header{
    padding-bottom: 20px;
    height: 42rem;
    transition: ease-out 2s;
}

main{
    padding: 20px 0;
}

#works{

    width: 100%;
    background: #090909;
}

#works>h1{
    text-align: center;
    margin: 5px 0;
}

#works>h4{
    font-family: 'Roboto-Light';
    text-align: center;
    color: rgb(113, 157, 116);
}

.project{
    height: 200px;
    width: 200px;
    background-color: white;
}


#services{
    width: 100%;
    background: #000;
}

#resume{
    width: 100%;
    background: #090909;
}


.div-projects{
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto;
}

.first-text-main{
    text-align: center;
    margin: 50px 0 2px 0;
    font-size: 2.5rem;
}

.second-text-main{
    font-family: 'Roboto-Light';
    text-align: center;
    color: rgb(113, 157, 116);
    margin-bottom: 50px;
}

.div-skill{
    text-align: center;
}

.container-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    gap: 40px;
    padding: 0 40px 0 40px;
}

.container-skills-first{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.container-skills-second{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


/* Transition code: */
@media(prefers-reduced-motion) {
  .hidden{
    transition: none;
  }
}

.scroll-element, .initial-load {
    opacity: 0;
    filter: blur(70px);
    transition: all 1s ease-in-out;
  }

.left-to-right {
    transform: translateX(-100%);
}

.right-to-left {
    transform: translateX(100%);
}

.bottom-to-top, .initial-load {
    transform: translateY(100%);
}

.scroll-element.show, .initial-load.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.bottom-to-top.show, .initial-load.show {
    transform: translateY(0);
}

