<div id="resume">
  <h1 class="first-text-main">Resume</h1>
  <h4 class="second-text-main resume-subtitle">whoami?</h4>

  <div class="about-container">
    <section class="section-1 scroll-element right-to-left">
      <div class="first-about">
        <div class="first-letter">M</div>
        <div class="second-letter">ário Norberto is a Fullstack developer and an enthusiast pentester hacker,
          tech lover and a varacious reader.</div>
      </div>
      <div>
        <h1 class="about-title">Professionally</h1>
        <p>
          <strong class="color-primary-green">Web Developer</strong> | <strong class="color-primary-green">Ethical
            Hacker Enthusiast</strong> |
          <strong class="color-primary-green">Technology
            Lover</strong> <br>
          With over 2 years of experience as a <span class="color-primary-green">freelancer</span>, I am passionate
          about web development and
          <span class="color-primary-green">cybersecurity</span>. As a
          pentest enthusiast, I apply my skills to identify and fix vulnerabilities in systems,
          ensuring the security of my clients. My dedication to technology keeps me up to date with the latest
          trends and practices in the industry.
          When not programming i enjoy
          <span class="color-primary-green">Participating in Technological Communities </span>(I am active in online
          forums
          and groups where I share knowledge and learn from other professionals).
          <span class="color-primary-green">Reading</span> (I enjoy reading a good book that helps me maintain a
          healthy balance between
          my personal and professional life).
        </p>
        <div>
          <p class="color-primary-green skills">Skills: Typescript | Nestjs | Angular | Nodejs| Expressjs | Php |
            Laravel
            <br>
            c# |
            Boostrap5 | Tailwing | ChartJs |
            Css | Html
          </p>
        </div>

        <ul class="ul-resume-links">
          <li><a href="../../../assets/docs/cv - dev 2 - Google Docs.pdf" target="_blank" class="link-resume">Download
              Resume(PDF)</a>
          </li>
          <li><a href="https://www.linkedin.com/in/marionorberto/" target="_blank" class="link-resume">Linkedin Profile
              <i class="bi bi-link-45deg"></i> </a></li>
        </ul>
      </div>
    </section>
    <section class="section-2 font-serif scroll-element left-to-right">
      <div class="container-img">
        <img class="me-img" src="../../../assets/images/me.jpg" alt="Mário Norberto">
        <p style="margin-top: 5px; margin-left: -20px;">marionorberto.tech&#64;gmail.com</p>
      </div>
      <div class="resume-social-networks">
        <a href="https://www.github.com/marionorberto" target="_blank">
          <i class="social-network bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/marionorberto/" target="_blank">
          <i class="social-network bi bi-linkedin"></i>
        </a>
        <div
          class="color-gray-alternative text-3xl font-serif w-[150px] h-[150px] text-white flex justify-center items-center mt-10">
          <span>&lt;&#47;dev&gt;</span>
        </div>
        <span>#coding-lifestyle 💻</span>

      </div>
      <!-- <div></div> -->
    </section>
  </div>
</div>