<div id="resume" class="mt-16 py-24 px-48 pt-10 max-sm:px-10">
  <div>
    <h1 class="text-white text-4xl font-semibold max-sm:2xl">Resume</h1>
    <h4 class="text-sm color-primary-green font-semibold">Who Am I ?</h4>
  </div>

  <section class="flex justify-center items-center">
    <div class="mt-10 flex flex-col justify-center items-start">
      <p
        class="max-md:text-[15px] text-justify min-sm:w-[45em] text-gray-200 mx-auto text-sm"
      >
        Interested in system automatization, system devopment and system
        pentesting. Fullstack Programmer for 2+ years as Freelancer, mainly
        focused on backend programming with
        <span class="color-primary-green">Typescript/JavaScript</span> and
        enthusiast Pentester Hacker. My main expertise is Typescript/JavaScript
        using <span class="color-primary-green">NestJS</span> to develop
        <span class="color-primary-green">API's</span> ,
        <span class="color-primary-green">Microservices</span>,
        <span class="color-primary-green">Serveless</span> functions,
        <span class="color-primary-green">websockets</span>. Using
        <span class="color-primary-green">Angular</span>
        framework with the main framework to build my frontend applications.
      </p>
      <div class="mt-4">
        <p class="flex justify-start items-center gap-3">
          <span class="text-gray-300 text-sm">Apr 23, 2024</span>
          <span class="text-white text-sm">Freelancer Programmer</span>
        </p>
        <p class="flex justify-start items-center gap-3">
          <span class="text-gray-300 text-sm">Apr 23, 2024</span>
          <span class="text-white text-sm">Freelancer Programmer</span>
        </p>
        <p class="flex justify-start items-center gap-3">
          <span class="text-gray-300 text-sm">Apr 23, 2024</span>
          <span class="text-white text-sm">Freelancer Programmer</span>
        </p>
        <ul class="icons mt-3 mb-5">
          <li>
            <a
              target="blank"
              href="https://linkedin.com/in/marionorberto"
              class="flex bg-zinc-800 rounded-md text-sm w-28 opacity-95"
            >
              <i
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20px"
                  viewBox="0 -960 960 960"
                  width="20px"
                  fill="#FFFFFF"
                >
                  <path
                    d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"
                  /></svg></i
              ><span class="label">Linkedin</span
              ><i class="ms-1 bi bi-linkedin"></i
            ></a>
          </li>

          <li>
            <a
              target="blank"
              class="cursor-pointer"
              href="https://github.com/marionorberto"
              class="flex bg-zinc-800 rounded-md text-sm w-24 opacity-95"
            >
              <i
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="20px"
                  viewBox="0 -960 960 960"
                  width="20px"
                  fill="#FFFFFF"
                >
                  <path
                    d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"
                  /></svg></i
              ><span class="label">GitHub</span><i class="ms-1 bi bi-github"></i
            ></a>
          </li>
          <li>
            <a
              target="blank"
              href="https://wa.me/935327990"
              class="cursor-pointer"
              ><span
                class="flex bg-zinc-800 opacity-95 rounded-md text-sm w-28"
              >
                <i
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    height="20px"
                    viewBox="0 -960 960 960"
                    width="20px"
                    fill="#FFFFFF"
                  >
                    <path
                      d="m243-192-51-51 429-429H384v-72h360v360h-72v-237L243-192Z"
                    /></svg
                ></i>
                Whatsapp <i class="ms-1 bi bi-whatsapp"></i></span
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<!-- <div
        class="flex justify-between items-stretch mt-4 mb-6 max-md:flex-col max-md:items-center max-md:gap-6 max-md:mb-14"
      >
        <ul class="flex flex-col items-start max-md:items-center max-md:mt-4">
          <span class="color-primary-green text-xl max-md:text-xl">
            Backend</span
          >
          <li><span class="max-md:hidden">></span>NestJs, Express</li>
          <li><span class="max-md:hidden">></span>Api Rest, GraphQL</li>
          <li><span class="max-md:hidden">></span>Kafka, RabbitMQ</li>
          <li><span class="max-md:hidden">></span>Redis, Memory cache</li>
          <li><span class="max-md:hidden">></span>SQL: PostgreSQL, MySQL</li>
          <li>
            <span class="max-md:hidden">></span>Arquitectural: Microservices
          </li>
          <li><span class="max-md:hidden">></span>ORM: Typeorm, Prisma</li>
        </ul>
        <div class="bg-[color-primary-green] h-full w-1"></div>
        <ul class="flex flex-col items-start max-md:items-center">
          <span class="color-primary-green max-md:text-xl text-xl"
            >Frontend</span
          >
          <li><span class="max-md:hidden">></span>JavaScript</li>
          <li><span class="max-md:hidden">></span>Angular</li>
          <li><span class="max-md:hidden">></span>chartJS</li>
          <li><span class="max-md:hidden">></span>Tailwind</li>
          <li><span class="max-md:hidden">></span>Bootstrap</li>
        </ul>
      </div> 
-->

<!-- <ul class="mt-5 flex flex-col justify-center items-center gap-14 py-20">
      <li>
        <a
          href="../../../assets/docs/Mário Norberto CV FULLSTACK PROGRAMMER.pdf"
          target="_blank"
          class="link-resume text-[15px] hover:opacity-75 px-5 py-4 rounded-md bg-black font-semibold border-[1px] border-black shadow-sm shadow-green-300"
          >Download Resume(PDF)</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/marionorberto/"
          target="_blank"
          class="link-resume text-[15px] hover:opacity-75 font-semibold py-4 rounded-md bg-black border-[1px] border-black shadow-sm shadow-green-300 px-10"
          >Linkedin Profile <i class="bi bi-link-45deg"></i>
        </a>
      </li>
    </ul>
-->
