#resume {
  padding-top: 8px;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.link-resume {
  text-decoration: underline;
  color: var(--color-primary-green);
}

.ul-resume-links {
  display: flex;
  flex-direction: column;
  list-style: circle;
  margin-left: 18px;
  margin-top: 10px;
}

.ul-resume-links > li {
  list-style: circle;
  font-size: 17px;
}

.ul-resume-links > li > a:hover {
  color: var(--color-secondary-green);
}

.resume-social-networks {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.skills {
  margin: 10px 0;
  font-style: italic;
  font-size: 18px;
}

.color-gray-alternative {
  background: rgb(13, 14, 13);
}
