<div id="resume" class="flex flex-col justify-center items-center">
  <div class="">
    <h1 class="text-white text-4xl mt-8 max-md:text-2xl">Resume</h1>
    <h4 class="text-sm color-primary-green underline max-md:text-sm">
      WhoAmI?
    </h4>
  </div>

  <div class="w-[50%] max-md:w-[90%] mt-10 overflow-hidden">
    <h1 class="text-lg color-primary-green">Professionally</h1>
    <!-- <span class="color-primary-green max-sm:text-[14px] underline fon-bold"
        >Fullstack Web Developer</span
      >

      <br />
      With over 2 years of experience as a
      <span class="color-primary-green">freelancer</span>, I am passionate about
      web development and
      <span class="color-primary-green">cybersecurity</span>. As a pentest
      enthusiast, I apply my skills to identify and fix vulnerabilities in
      systems, ensuring the security of my clients. My dedication to technology
      keeps me up to date with the latest trends and practices in the industry.
      When not programming i enjoy
      <span class="color-primary-green"
        >Participating in Technological Communities </span
      >(I am active in online forums and groups where I share knowledge and
      learn from other professionals).
      <span class="color-primary-green">Reading</span> (I enjoy reading a good
      book that helps me maintain a healthy balance between my personal and
      professional life). -->

    <div class="max-md:text-[15px] max-md:[11px] text-justify opacity-95">
      Interested in system automatization, system devopment and system
      pentesting. Fullstack programmer for 2+ years as freelancer, mainly
      focused on backend programming with Typescript/JavaScript and enthusiast
      pentester hacker. My main expertise is Typescript/JavaScript using NestJS
      to develop API's , Microservices, serveless functions, websockets. Using
      Angular framework with the main framework to build my frontend
      applications.
      <div
        class="flex justify-between items-stretch mt-4 mb-6 max-md:flex-col max-md:items-center max-md:gap-6 max-md:mb-14"
      >
        <ul class="flex flex-col items-start max-md:items-center max-md:mt-4">
          <span class="color-primary-green max-md:text-xl"> Backend</span>
          <li><span class="max-md:hidden">></span>NestJs, Express</li>
          <li><span class="max-md:hidden">></span>Api Rest, GraphQL</li>
          <li><span class="max-md:hidden">></span>Kafka, RabbitMQ</li>
          <li><span class="max-md:hidden">></span>Redis, Memory cache</li>
          <li><span class="max-md:hidden">></span>SQL: PostgreSQL, MySQL</li>
          <li>
            <span class="max-md:hidden">></span>Arquitectural: Microservices
          </li>
          <li><span class="max-md:hidden">></span>ORM: Typeorm, Prisma</li>
        </ul>
        <div class="bg-[color-primary-green] h-full w-1"></div>
        <ul class="flex flex-col items-start max-md:items-center">
          <span class="color-primary-green max-md:text-xl">Frontend</span>
          <li><span class="max-md:hidden">></span>JavaScript</li>
          <li><span class="max-md:hidden">></span>Angular</li>
          <li><span class="max-md:hidden">></span>chartJS</li>
          <li><span class="max-md:hidden">></span>Tailwind</li>
          <li><span class="max-md:hidden">></span>Bootstrap</li>
        </ul>
      </div>
    </div>
    <ul class="mt-5 flex flex-col gap-2 bg-neutral-950">
      <li>
        <a
          href="../../../assets/docs/Mário Norberto CV FULLSTACK PROGRAMMER.pdf"
          target="_blank"
          class="link-resume text-[15px] hover:opacity-75"
          >Download Resume(PDF)</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/marionorberto/"
          target="_blank"
          class="link-resume text-[15px] hover:opacity-75"
          >Linkedin Profile <i class="bi bi-link-45deg"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
